In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('energy_data.csv')
print(data.columns)

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3', 'Class'],
      dtype='object')

In [2]:
data.dropna()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Class
0,16-12-2006,17:24:00,4.216,0.418,234.84,18.4,0,1,17,0
1,16-12-2006,17:25:00,5.360,0.436,233.63,23.0,0,1,16,0
2,16-12-2006,17:26:00,5.374,0.498,233.29,23.0,0,2,17,0
3,16-12-2006,17:27:00,5.388,0.502,233.74,23.0,0,1,17,0
4,16-12-2006,17:28:00,3.666,0.528,235.68,15.8,0,1,17,0
5,16-12-2006,17:29:00,3.520,0.522,235.02,15.0,0,2,17,0
6,16-12-2006,17:30:00,3.702,0.520,235.09,15.8,0,1,17,0
7,16-12-2006,17:31:00,3.700,0.520,235.22,15.8,0,1,17,0
8,16-12-2006,17:32:00,3.668,0.510,233.99,15.8,0,1,17,0
9,16-12-2006,17:33:00,3.662,0.510,233.86,15.8,0,2,16,0
10,16-12-2006,17:34:00,4.448,0.498,232.86,19.6,0,1,17,0
11,16-12-2006,17:35:00,5.412,0.470,232.78,23.2,0,1,17,1
12,16-12-2006,17:36:00,5.224,0.478,232.99,22.4,0,1,16,0
13,16-12-2006,17:37:00,5.268,0.398,232.91,22.6,0,2,17,0
14,16-12-2006,17:38:00,4.054,0.422,235.24,17.6,0,1,17,0
15,16-12-2006,17:39:00,3.384,0.282,237.14,14.2,0,0,17,0
16,16-12-2006,17:40:00,3.270,0.152,236.73,13.8,0,0,17,0
17,16-12-2006,17:41:00,3.430,0.156,237.06,14.4,0,0,17,0
18,16-12-2006,17:42:00,3.266,0.000,237.13,13.8,0,0,18,0
19,16-12-2006,17:43:00,3.728,0.000,235.84,16.4,0,0,17,0
20,16-12-2006,17:44:00,5.894,0.000,232.69,25.4,0,0,16,1
21,16-12-2006,17:45:00,7.706,0.000,230.98,33.2,0,0,17,1
22,16-12-2006,17:46:00,7.026,0.000,232.21,30.6,0,0,16,1
23,16-12-2006,17:47:00,5.174,0.000,234.19,22.0,0,0,17,0
24,16-12-2006,17:48:00,4.474,0.000,234.96,19.4,0,0,17,0
25,16-12-2006,17:49:00,3.248,0.000,236.66,13.6,0,0,17,0

In [3]:
data = data.drop(columns=['Date', 'Time', 'Global_active_power', 'Global_reactive_power', 'Voltage','Sub_metering_1','Sub_metering_2','Sub_metering_3'])

In [4]:
data.dropna()

    Global_intensity  Class
0               18.4      0
1               23.0      0
2               23.0      0
3               23.0      0
4               15.8      0
5               15.0      0
6               15.8      0
7               15.8      0
8               15.8      0
9               15.8      0
10              19.6      0
11              23.2      1
12              22.4      0
13              22.6      0
14              17.6      0
15              14.2      0
16              13.8      0
17              14.4      0
18              13.8      0
19              16.4      0
20              25.4      1
21              33.2      1
22              30.6      1
23              22.0      0
24              19.4      0
25              13.6      0

In [5]:
HIGH = data[data['Class'] == 1]
LOW = data[data['Class'] == 0]
outlier_fraction = len(HIGH)/float(len(LOW))

#use float so python does not round since value is so small
print('Outlier fraction = ',outlier_fraction)
print('Number of instances where Global_intensity is greater than 23.0: {}'.format(len(data[data['Class'] == 1])))
print('Number of instances where Global_intensity is less than or equal to 23.0: {}'.format(len(data[data['Class'] == 0])))

Outlier fraction =  0.18181818181818182
Number of instances where Global_intensity is greater than 23.0: 4
Number of instances where Global_intensity is less than or equal to 23.0: 22

In [6]:
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split 
X = data.iloc[:,:-1] # column other than "Class", thus X holds values of Global_Intensity
y = data['Class'] # Y holds values of Class
print("X and y sizes, respectively:", len(X), len(y))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)
print("Train and test sizes, respectively:", len(X_train), len(y_train), "|", len(X_test), len(y_test))

X and y sizes, respectively: 26 26
Train and test sizes, respectively: 16 16 | 10 10

In [7]:
logistic = linear_model.LogisticRegression(C=1e5) 
logistic.fit(X_train, y_train)
print("Score: ", logistic.score(X_test, y_test))
print("Accuracy: ", logistic.score(X_test, y_test)*100)

Score:  1.0
Accuracy:  100.0

In [8]:
print(X)

    Global_intensity
0               18.4
1               23.0
2               23.0
3               23.0
4               15.8
5               15.0
6               15.8
7               15.8
8               15.8
9               15.8
10              19.6
11              23.2
12              22.4
13              22.6
14              17.6
15              14.2
16              13.8
17              14.4
18              13.8
19              16.4
20              25.4
21              33.2
22              30.6
23              22.0
24              19.4
25              13.6

In [9]:
print(y)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    1
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    1
21    1
22    1
23    0
24    0
25    0
Name: Class, dtype: int64